body {
    overflow-x: hidden;
}

h4#cabeçalho {
    color: #E27397;
    font-size: 26px;
    position: absolute;
}

a {
    text-decoration: none;
    outline: none;
    color: #E27397;
}

h3#abertura {
    position: relative;
    color: #E27397;
    top: 300px;
    left: 15px;
    font-size: 62px;
}

button {
    color: #F6EBF5;
    background: #B1C57C;
    border-radius: 10px;
    border: solid #B1C57C;
    position: absolute;
    top: 550px;
    left: 20px;
    font-size: 25px;
}

.rodape {
    background-color: #E27397;
    padding: 30px 10px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}
.conteudo-rodape {
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contato, .endereco, .inscricao {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.titulo {
    font-size: 25px;
    color: #DDF2A5;
    margin-bottom: 20px;
}

.contato h2, .endereco h2 {
    font-size: 25px;
}

.contato p, .endereco p {
    font-size: 20px;
    margin-bottom: 15px;
}

.caixa-inscricao {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input-email {
    width: 150px;
    height: 40px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.botao-inscricao {
    background-color: #C1D983;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.botao-inscricao img {
    width: 24px;
    height: 24px;
}
